.tdr-control {
  float: right;
  position: relative;
  font-family: Helvetica, Arial, sans-serif; }
  .tdr-control a {
    text-decoration: none; }
  .tdr-control.open .tdr-dropdown {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.18);
    background: #dfebf5; }
  .tdr-control.open .tdr-popover {
    display: block; }
  .tdr-control .tdr-dropdown {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e9f2f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e9f2f8));
    background: -webkit-linear-gradient(top, white 0%, #e9f2f8 100%);
    background: -o-linear-gradient(top, white 0%, #e9f2f8 100%);
    background: -ms-linear-gradient(top, white 0%, #e9f2f8 100%);
    background: linear-gradient(to bottom, white 0%, #e9f2f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='#ffffff',GradientType=0 );
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    display: inline-block;
    position: relative;
    padding: 8px 45px 8px 15px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
    border: 1px solid #bfbfbf;
    border-bottom-color: #9c9c9c;
    color: #444;
    font-size: 14px;
    cursor: pointer; }
    .tdr-control .tdr-dropdown span.arrow {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      border-left: 1px solid #cfcfcf; }
      .tdr-control .tdr-dropdown span.arrow::after {
        content: "";
        display: block;
        position: absolute;
        margin: -3px 0 0 0;
        top: 50%;
        left: 8px;
        width: 0;
        height: 0;
        border-top: 6px solid #999;
        border-bottom: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent; }
  .tdr-control .tdr-popover {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    padding: 0 25px;
    top: 45px;
    right: 0;
    width: 515px;
    height: 285px;
    border: 1px solid #c0c0c0;
    border-bottom-color: #9c9c9c;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    cursor: auto; }
    .tdr-control .tdr-popover::before {
      content: "";
      display: block;
      position: absolute;
      margin: -3px 0 0 0;
      top: -10px;
      right: 35px;
      width: 0;
      height: 0;
      border-bottom: 12px solid #a8a8a8;
      border-top: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent; }
    .tdr-control .tdr-popover::after {
      content: "";
      display: block;
      position: absolute;
      margin: -3px 0 0 0;
      top: -9px;
      right: 35px;
      width: 0;
      height: 0;
      border-bottom: 12px solid #fff;
      border-top: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent; }
  .tdr-control .tdr-calendars {
    height: 196px; }
    .tdr-control .tdr-calendars:before, .tdr-control .tdr-calendars:after {
      content: "";
      display: table; }
    .tdr-control .tdr-calendars:after {
      clear: both; }
    .tdr-control .tdr-calendars {
      zoom: 1; }
  .tdr-control .tdr-calendar {
    float: left;
    font-size: 11px;
    margin: 15px;
    color: #555;
    border-collapse: separate;
    border-spacing: 0; }
    .tdr-control .tdr-calendar tr {
      margin: 0;
      padding: 0;
      border: 0; }
      .tdr-control .tdr-calendar tr th {
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #e6e6e6;
        background-color: #f8f8f8; }
        .tdr-control .tdr-calendar tr th.month {
          height: 28px;
          font-size: 13px;
          vertical-align: top;
          background-color: #fff; }
      .tdr-control .tdr-calendar tr td {
        margin: 0;
        padding: 0;
        border: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        vertical-align: middle; }
      .tdr-control .tdr-calendar tr a {
        display: block;
        width: 19px;
        height: 19px;
        line-height: 19px; }
        .tdr-control .tdr-calendar tr a.selected {
          background-color: #4477bd;
          color: #fff; }
        .tdr-control .tdr-calendar tr a.disabled {
          color: #ccc;
          cursor: default; }
  .tdr-control .tdr-shift-button {
    position: absolute;
    top: 12px;
    padding: 0;
    font-size: 10px;
    width: 22px;
    height: 22px; }
    .tdr-control .tdr-shift-button::after {
      content: "";
      display: block;
      position: absolute;
      margin: -5px 0 0 0;
      top: 50%;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; }
    .tdr-control .tdr-shift-button.previous {
      left: 12px; }
      .tdr-control .tdr-shift-button.previous::after {
        right: 8px;
        border-right: 5px solid #999;
        border-left: 0; }
    .tdr-control .tdr-shift-button.next {
      right: 12px; }
      .tdr-control .tdr-shift-button.next::after {
        left: 8px;
        border-left: 5px solid #999;
        border-right: 0; }
  .tdr-control .tdr-controls {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid #e0e0e0; }
    .tdr-control .tdr-controls:before, .tdr-control .tdr-controls:after {
      content: "";
      display: table; }
    .tdr-control .tdr-controls:after {
      clear: both; }
    .tdr-control .tdr-controls {
      zoom: 1; }
  .tdr-control .tdr-range-inputs {
    float: left; }
    .tdr-control .tdr-range-inputs label {
      display: block;
      padding-bottom: 4px;
      font-size: 13px;
      line-height: 1.5;
      font-weight: bold;
      color: #555; }
    .tdr-control .tdr-range-inputs .tdr-dash {
      margin: 0 2px;
      color: #999; }
    .tdr-control .tdr-range-inputs .tdr-date {
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.16);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.16);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      font-family: Helvetica, Arial, sans-serif;
      display: inline-block;
      padding: 5px;
      height: 30px;
      width: 90px;
      font-size: 14px;
      border: 1px solid #c4c4c4;
      line-height: 1.5;
      position: relative; }
  .tdr-control .tdr-buttons {
    padding-top: 24px;
    float: right; }
  .tdr-control .tdr-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
    cursor: pointer;
    background: #e2e6e9;
    background: -moz-linear-gradient(top, #e2e6e9 0%, #c5cacd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e6e9), color-stop(100%, #c5cacd));
    background: -webkit-linear-gradient(top, #e2e6e9 0%, #c5cacd 100%);
    background: -o-linear-gradient(top, #e2e6e9 0%, #c5cacd 100%);
    background: -ms-linear-gradient(top, #e2e6e9 0%, #c5cacd 100%);
    background: linear-gradient(to bottom, #e2e6e9 0%, #c5cacd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='#ffffff',GradientType=0 );
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    border: 1px solid #9b9b9b;
    border-bottom-color: #747474;
    color: #333; }
    .tdr-control .tdr-button:active, .tdr-control .tdr-button.depressed {
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.18);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.18);
      background: #bec3c7; }
